#NewsCard{
    margin: 3rem 0;

    .container{
        width: 100%;

        .body{
            width: 100%;
            height: 100%;
            justify-content: space-between;
            background-color: lightgray;
            position: relative;

            .img_area{
                width: 80%;
                height: 500px;
                margin-left: 17%;
                margin-top: 3%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .info_area{
                width: 50%;
                height: 300px;
                background-color: gray;
                color: white;
                position: absolute;
                top: 50%;
                left: 3%;
            }


        }
    }
}