#section02{
    width: 100%;
    padding: 3rem 0;
    
    .container{
        width: 60%;
        margin: auto;

        .row{
            padding: 1rem;

            .bigTitle{
                font-size: 35px;
                font-weight: bolder;
                text-align: center;
                position: relative;
                letter-spacing: 4px;
                margin-bottom: 2rem;
    
                &::after{
                    content: '';
                    width: 100px;
                    padding-bottom: 1rem;
                    border-bottom: 2px solid $primary;
                    position: absolute;
                    bottom: -8%;
                    left: 50%;
                    transform: translateX(-50%); 
                }
            }

            // swiper

            .swiper, .swiper-container{
                overflow: visible;
            }
            .mySwiper{
                .q-card{
                    height: 400px;
                    position: relative;

                    .img_area{
                        width: 100%;
                        height: 70%;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .title_area{
                        margin-top:1rem;
                        margin-bottom: 10px;
                        font-size: 20px;
                        font-weight: bolder;
                    }

                    .date_area{
                        color: gray;
                    }

                    .btn_area{
                       position: absolute;
                       top: 25%;
                       left: 75%;
                    }
                }

            }

        }
    }


   
}