#CartView{
    .continer{
        width: 90%;

        .row{
            width: 100%;

            .q-card{

                .q-card-section{

                    .cart_img{
                        width: 150px!important;
                        height: 150px!important;
                
                    }
                }
            }

            

        }
    }
    
}