// 全域設定
body,html{
    width: 100%;
    box-sizing: border-box;
    font-family: 'Noto Sans TC','Roboto Slab', sans-serif;
    // overflow-x: hidden;
}


#mainLayout{

    .logoBtn{
        width: 200px;
        height: 100px;
        cursor: pointer;
    
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    h4.title{
        margin-left: -3%;
        cursor: pointer;
    }
}

#adminLayout,#userLayout{

   

        .q-btn.menuBtn{
            margin-top: 2.5rem;
            height: 50px;
        }
    
    
    
        
    

    .left_area{
        display: flex;
    }
    .logoBtn{
        width: 200px;
        height: 100px;
        margin-top: 3%;
        cursor: pointer;
    
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h4.title{
        margin-left: -10%;
    }
}



.q-page-container{
    height: calc(100vh - 80px);
}

.q-page{
    height: 100%;
}

.q-footer{
    height: 30px;
}

.copyright{
    text-align: center;
    line-height: 30px;
}

#IndexView{
    overflow-x: hidden;
}


