// 全域設定
body,html{
    width: 100%;
    box-sizing: border-box;
    font-family: 'Noto Sans TC','Roboto Slab', sans-serif;
    // overflow-x: hidden;
}


.q-page-container{
    height: calc(100vh - 80px);
}

.q-page{
    height: 100%;
}

.q-footer{
    height: 30px;
}

.copyright{
    text-align: center;
    line-height: 30px;
}


