#myOrdersView{
    padding: 5rem 0;
    width: 100%;

    .container{
        width: 60%;

        .bigTitle{
            font-size: 30px;
            font-weight: bolder;
            text-align: left;
            position: relative;
            letter-spacing: 4px;

            &::after{
                content: '';
                width: 100px;
                padding-bottom: 1rem;
                border-bottom: 2px solid $primary;
                position: absolute;
                bottom: -8%;
                left: 10%;
                transform: translateX(-50%); 
            }
        }


        .row{
            width: 100%;

            .q-table__bottom-item{
                width: 100px;
            }
        }
    }
}