.q-header{
    height: 80px;
    background-color: $primary;
    // backdrop-filter: blur(5px);

    .q-toolbar{
        height: 80px;

        .icon_cart{
            margin-top: 8px;
        }
    }
}
