.q-header{
    height: 50px;
    background-color: rgba(56,120,111,0.7);
    backdrop-filter: blur(5px);

    .q-toolbar{
        height: 50px;

        .icon_cart{
            margin-top: 8px;
        }
    }
}
