#newsView{

    .container{
        width: 70%;
        margin: auto;
        padding-top: 3rem;


        .section{
            width: 100%;
        }

        .col-12{
            background-color: lighten($color: #38786f, $amount: 9);
        }
    }
}