#QAView{
    padding: 5rem;

    .container{
        width: 60%;
        margin: auto;
    }

    

    .parallaxImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .question{
        display: flex;
        margin: 1rem 0;

        .question_text{
            margin-left:1rem ;
            background-color: $secondary;
            border-radius: 15px;
            padding: 0 1rem;
            font-size: 18px;
            line-height: 48px;
        }
    }

    .answer{
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0;

        .answer_text{
            margin-right:1rem ;
            background-color: $primary;
            border-radius: 15px;
            padding: 0 1rem;
            font-size: 18px;
            line-height: 48px;
            color: #fff;
        }
    }

}