#registerlogin{
    width: 100%;
    .container{
        width: 60%;
        margin-top: 30%;

        .q-card{
            width: 100%;
        }
    }

    @include lg{
        .container{
           margin-top: 4%;
           padding-bottom: 4%;
        }
    }
}