#section02{
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;

    .container{
        width: 90%;
        margin: auto;

        .row{
            width: 100%;

            .col-12{

                .left_img{
                    width: 100%;

                    img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
                }

                .right_text{

                    .text_title{
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        font-weight: bolder;
                        color: $primary;
                    }

                    .text_date{
                        font-size: 14px;
                        color: $secondary;
                        margin-bottom: 1rem;
                    }
                }

                .right_btn{
                    width: 100%;

                    .q-btn{
                        width: 100%;
                        height: 50px;
                    }
                }

                
            }
        }
    }
    
    @include lg{

        .container{

            .row{

                .col-12{

                    .left_img{

                        img{
                            height: 500px;
                        }
                    }
                }

                
            }

        }
        .right_text{
            padding-left: 2rem;
            padding-top: 1rem;
            font-size: 20px;
        }
        .right_btn{
            padding-left: 2rem;
        }
    }
}