#ShoppingsView{
    padding: 5rem 0;

    .container{
        width: 60%;
        margin: auto;

        .title_area{
            .bigTitle{
                font-size: 30px;
                font-weight: bolder;
                text-align: center;
                position: relative;
                letter-spacing: 4px;
    
                &::after{
                    content: '';
                    width: 100px;
                    padding-bottom: 1rem;
                    border-bottom: 2px solid $primary;
                    position: absolute;
                    bottom: -8%;
                    left: 50%;
                    transform: translateX(-50%); 
                }
            }
        }
        

        

            .q-table__bottom-item{
                width: 100px;
            }

            ul{
                list-style: none;
                padding: 0;
            }
        
    }
}