#adminShoppingsView{
    width: 100%;


    .container{
        width: 75%;
        margin: auto;
        padding-top: 5rem;

        ul{
            list-style: none;
        }

        .q-table__bottom-item{
                width: 100px;
            }
        

        .bigTitle{
            font-size: 30px;
            font-weight: bolder;
            position: relative;
            letter-spacing: 4px;
            padding-left: 1.5rem;

            &::after{
                content: '';
                width: 10px;
                height: 50px;
                background-color: $primary;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}