#adminProductsShoppingMall{

    .rules_area{
        width: 150px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden
    }

    .adminProductsImages{
        width: 80%;
        height: 80%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .addBtn{
        margin-top: 4%;
        margin-left: 94%;
    }

    .q-table{
        tr{
            tbody{
                td:nth-of-type(7){
                    width: 100px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow:hidden
                }
            }
        }
        
    }
}